.toolbar{
  background-color: dodgerblue;
  margin-bottom: 3rem;
}

.toolbar__title {
  flex: auto;
  text-align: center;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}